<div class="xl-card">
  <div class="xl-card-body">
    <h2 class="card-title">Xlarge Card</h2>
    <div class="tabs tabs-xl tabs-lift">
      <input type="radio" name="days" class="tab" aria-label="Day 0" checked="checked"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <app-timeline></app-timeline>
      </div>

      <input type="radio" name="days" class="tab" aria-label="Day 1"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 1</div>

      <input type="radio" name="days" class="tab" aria-label="Day 2"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 2</div>

      <input type="radio" name="days" class="tab" aria-label="Day 3"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 3</div>

      <input type="radio" name="days" class="tab" aria-label="Day 4"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 4</div>

      <input type="radio" name="days" class="tab" aria-label="Day 5"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 5</div>

      <input type="radio" name="days" class="tab" aria-label="Day 6"/>
      <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 6</div>
    
    </div>
  </div>
</div>