<main>
  <h1>Spain App</h1>
  <nav>
    <ul>
      <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/map-component" routerLinkActive="active" ariaCurrentWhenActive="page">Map</a></li>
      <li><a routerLink="/itinerary-component" routerLinkActive="active" ariaCurrentWhenActive="page">Itinerary</a></li>
      <li><a routerLink="/gallery-component" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></li>
      <li><a routerLink="/about-component" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    </ul>
  </nav>
</main>

<router-outlet />
