<ul class="timeline timeline-vertical">
  <li *ngFor="let entry of entries;first as isFirst; last as isLast">
    <hr *ngIf="!isFirst"/>
    <div class="timeline-start">{{entry.year}}</div>
    <div class="timeline-middle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
        <path d="M10 18a8 8 0 100-16 8 8 0 000 16z"/>
      </svg>
    </div>
    <div class="timeline-end timeline-box">{{entry.description}}</div>
    <hr *ngIf="!isLast"/>
  </li>
</ul>